/* Reset Styles */

@import url(reset.css);


@import url(http://fonts.googleapis.com/css?family=Karla);

/* Page Styles */

* {
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box; 
  	}

.wrapper {
  	max-width: 1000px;
  	width: 90%;
  	margin: 0 auto; 
  	}

img {
  	max-width: 100%;
  	height: auto;
 	width: auto;
  	/* ie8 */ 
  	}

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  	clear: both; }

.cf {
  	zoom: 1; 
  	}

hr {
	border: none;
	border-bottom: 3px solid #f7f7f7;
	}
	
/* what is this following code for?
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } } */
 
.fade-in {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1; 
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
 
    -webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:0.3s;
    -moz-animation-duration:0.3s;
    animation-duration:0.3s;
    

    -webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	animation-delay: 0.5s;

	}



/* Custom Styles */

	html, body {
		width: 100%;
		height: 100%;
		}

	body { 
		font: normal 1em/1.5em 'Ovo', sans-serif; 
		color: #333; 
		margin-bottom: 20px; 
		}

	a { 
		color: #8C3248; 
		text-decoration: none; 
		}
		
		
	a:hover { 
		color: #b2c3e8; 
		}

	h1,h2,h3,h4,h5,h6 {
		font-family: 'Josefin Sans', sans-serif;
		font-weight: bold;
		color: #8C3248;
		}
	
	h1 { 	
		font: 3.8em 'Josefin Sans', sans-serif; 
		}
		
	h2 {
		font-size: 2.5em;
    	text-align: center;
    	padding-top: 1em;
		}
		
	h3 {
		font-size: 2em;
		margin-left: auto;
    	margin-right: auto;
    	margin: 0 auto;
    	max-width: 10%;
		}
		
	h4 {
		font-size: 1.5em;
		margin: 0.9em 0;
		display: block;
		}

	header {
		margin: 0 0 1.2em 0;
		padding: 1.2em;
		}

	header h1 {
		float: left;
		}

	header nav { 
		float: right; 
		}

	header nav ul li {
		display: inline-block; 
		margin: 10px 0 0 0;
		}
	
	header nav ul li a { 
		display: block; 
		padding: 10px; 
		border: 1px solid #fff;
		}

	header nav ul li a:hover { 
		background: #8C3248; 
		color: #f7f7f7; 
		border: 1px solid #eee;
		}
		
	#focus { 
		background: #8C3248;
		padding: 10px; 
		color: #f7f7f7; 
		border: 1px solid #eee;
		}
			
	.clearfix {
    	overflow: auto;
		}
		
	iframe {
		margin: 0 2em 1em 2em;
		float: left;
		width: 560px; 
		height: 315px;

		-moz-border-radius: 0px 12px;
		-webkit-border-radius: 0px 12px;
		border-radius: 0px 12px;

		-moz-box-shadow: 4px 4px 14px #000;
		-webkit-box-shadow: 4px 4px 14px #000;
		box-shadow: 4px 4px 14px #000;
		}
		
	#main-content { 
		padding: 0 30px;
		}
		
	image-row {
		margin-left: auto;
    	margin-right: auto;
    	width: 80%;
		}
			
		
	.image-set {
		margin-left: auto;
    	margin-right: auto;
    	width: 100%;
    	padding-top: 20px;
		}	
	
	.elementexplination {
		font-size: 0.8em;
		font-style: italic;
		padding-left: 2.5em;
		margin: 0 4em 2em 0;
		float: left;
		}
		
	#selfie {
		margin-left: 22%;
		margin-right: 20%;
		size: 100%;
		max-width: 100%;
		min-width: 25%;
		}
		
	#socialmedia {
		margin-left: 37%;
		margin-right: 37%;
		size: 100%;
		max-width: 100%;
		}	
	
	footer {
		border: 1px solid #F5F6FA;
		background: #F8F9FC;
		margin-top: 5em;
		padding: 12px;
		}
		
	.splash {
		background: url('../img/splash1.jpg') center center;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		min-height: 360px;
		z-index: 998;
		background-size: cover;
		background-attachment: fixed;
		text-align: center;
		}

	.splash-title {
		color: white;
		font-size: 7em;
		margin-top: 100px;
		letter-spacing: 0.05em;
		font-family: 'Josefin Sans', sans-serif;
		text-shadow: 0 2px 10px #000;
		-webkit-animation-delay: 1s;
		-moz-animation-delay: 1s;
		animation-delay: 1s;
		}

	a.splash-arrow {
		color: white;
		font-size: 1.2em;
		position: absolute;
		bottom: 55px;
		left: 50%;
		margin-left: -25px;
		padding: 10px;
		width: 50px;
		height: 50px;
		font-weight: bold;
		-webkit-transition: all 0.1s ease;
		-moz-transition: all 0.1s ease;
		-o-transition: all 0.1s ease;
		transition: all 0.1s ease;
		-webkit-animation-delay: 1.5s;
		-moz-animation-delay: 1.5s;
		animation-delay: 1.5s;
		border: 3px solid white;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		}

	a.splash-arrow:hover {
		text-decoration: none;
		bottom: 50px;
		}
		
		
/* tablet styles */
@media all and (min-width: 512px) and (max-width: 828px) {
  .splash-title {font-size: 2em;}

	header nav { 
		float: left; 
		}
		
	body {
		color:blue;
		}
		
	iframe {
		margin: 1em auto;
		display: block;
		float: none;
		width: 75%;
		height: 260px;
		}
	
	/* need to play with this more since its broken */
	.elementexplination {
		font-size: 0.7em;
		font-style: italic;
		margin: 0 0 3em 0;
		float: none;
		display: block;
		text-align: center;
		}
}

/* mobile landscape styles */
@media all and (max-width: 511px) {
	
	.splash-title {
		font-size: 1.5em;
		}

	header nav { 
		float: left; 
		width: 80%
		}
		
	iframe {
		margin: 1em auto;
		display: block;
		float: none;
		width: 75%;
		height: 75%;
		}
		
	.elementexplination {
		font-size: 0.8em;
		font-style: italic;
		margin: 0 0 3em 0;
		float: none;
		display: block;
		}
		
	/* h2 overlaps here need to fix it */
	h2 {
		min-width: 335px;
		}
}